include CONTRIBUTORS.txt
include README.rst
include LICENSE
include doc-requirements.txt
include tox.ini
recursive-include examples *
recursive-include docs *
recursive-include extras *
recursive-include circus/tests/config *.ini
recursive-include circus/tests/venv *

